@font-face {
    font-family: "montserrat";
    src: url(/fonts/montserrat/Montserrat-Medium.ttf);
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "josefin";
    src: url(/fonts/Josefin_Sans/JosefinSans-VariableFont_wght.ttf);
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
:root {
    --headline-text-color: rgba(80, 155, 165, 0.562);
    --headline-text-size: 28px;
    
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    font-family: montserrat;
    color: #252424;
}
.wrapper{
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    margin-top: 60px;  
}
.main{
    display: flex;
}
.about{
    margin-top: 100px;
}
.employment{
    margin-bottom: 30px;
    font-size: 16px;
}
.name p{
    font-size: var(--headline-text-size);
    font-family: josefin;
    color: var(--headline-text-color);
    width: fit-content;
}
.name p::after{
    content: '';
    display: flex;
    width: 100%;
    background: var(--headline-text-color);
    height: 2px;
    margin-bottom: 10px;
}
.info{
    max-width: 500px;
    margin-bottom: 60px;
}
/* .info p{
    color: #a4a4a4;
} */
.headline{
    font-size: var(--headline-text-size);
    font-family: josefin;
    color: var(--headline-text-color);
    width: fit-content;
    margin-bottom: 10px;
}
ul li{
    color: var(--headline-text-color);
    padding: 5px;
}
ul li span a{
    text-decoration: none;
}
ul li span a:hover{
    color: var(--headline-text-color);
}
.right-side{
    margin-right: 0;
    margin-left: auto;
}
.right-side .image img{
    max-width: 240px;
    border-radius:120px;
}
.right-side .image{
    margin-bottom: 40px;
}
.contacts p{
    font-size: var(--headline-text-size);
    color: var(--headline-text-color);
    font-family: josefin;
    margin-bottom: 20px;
}
.contacts{
    margin-bottom: 60px;
}
.bar-container{
    width: 280px;
    background-color: #a4a4a4;
    height: 10px;
    position: relative;
}
.progress{
    position: absolute;
    background-color: rgba(80, 155, 165);
    height: 10px;
}
.skill{
    padding: 10px;
}
.projects{
    margin-bottom: 60px;
}
.education{
    margin-bottom: 60px;
}
.langs{
    margin-bottom: 30px;
}
.frameworks{
    margin-bottom: 30px;
}